<form [formGroup]="form">
    <!-- body -->
    <div class="row">
        <!-- input -->
        <p class="formulaire-label">
            {{"card-form-label" | translate}} :
        </p>
        <input type="text" class="col-md-9 form-control input-add-select"
            placeholder="{{'card-form-label' | translate}}" formControlName="desiredAmount" />
    </div>

    <hr class="hr-custom-level">

    <!-- LEVEL 1 -->
    <h4>{{"card-form-level-1" | translate}}</h4>
    <div class="row level">
        <button type="button" class="btn btn-primary col-md-6" (click)="onClickValider()">
            {{"card-form-btn-valider" | translate}}
        </button>
    </div>
    <!-- LEVEL 2 -->
    <h4>{{"card-form-level-2" | translate}}</h4>
    <div class="row level">
        <button type="button" class="btn btn-secondary col-md-6" (click)="onClickMonatntPrecedent()">
            {{"card-form-btn-precedent" | translate}}
        </button>
        <button type="button" class="btn btn-primary col-md-6" (click)="onClickMontantSuivant()">
            {{"card-form-btn-suivant" | translate}}
        </button>
    </div>
</form>